@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient (to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes move-left-to-right {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes move-right-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-400px);
  }
}

.marquee-right {
  animation: move-left-to-right linear 3s infinite;
  animation-play-state: running;
}

.marquee-left {
  animation: move-right-to-left linear 3s infinite;
  animation-play-state: running;
}

.marquee-right:hover,
.marquee-left:hover {
  animation-play-state: paused;
}

.grad {
  background: linear-gradient(to bottom, #770cff 10%, #c400ff 40%, #c400ff 50%);
}

.cans {
  height: 250px;
  width: auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sect {
  background-image: url(../public/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

input[type="radio"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  margin: 10px;
  transform: translateY(0.15em);
}

div::-webkit-scrollbar {
  display: none;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.radioButton {
  accent-color: #770cff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

select {
  outline: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  cursor: pointer;
  width: 55px;
  transform: translateY(5px);

}

.radioLabel {
  margin-left: 10px;
  transform: translateY(5px);
}


.reserve {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}

.reserveImage {
  padding-left: 0px;
  height: 45px;
}

@media only screen and (min-width: 870px) {

  .reserveImage {
    padding-left: 15px;
    height: 55px;
  }

  .reserve {
    line-height: 60px;
  }
  .bannerLogo {
    width: 39px;
  }
}

.link {
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.link:hover {
  font-style: italic;
}

.faq {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
  color: #000;
  min-width: min-content;
  min-width: 300px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.faqBottom {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
  color: #000;
  min-width: min-content;
  min-width: 300px;
}

.faqBox {
  border-radius: 30px;
  border: 10px solid #b6ff00;
  background-color: white;
}

.legalP {
  text-align: justify;
}

.infoCard {
  width: 50vw;
  min-width: 300px;
  background-color: white;
  border-radius: 30px;
  border: 10px solid #b6ff00;
  padding: 15px;
}

.infoField {
  outline: none;
  box-shadow: none;
}

.faqText {
  color: rgba(0, 0, 0, .3);
}

.scrollContainer {
  scroll-snap-type: x mandatory;
}

.rectangle-container {
  border: 10px solid #b6ff00;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  text-align: left;
  font-size: 25px;
  flex: none;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.bannerLogo{
  height:auto;
}

.social {
  color: #b6ff00;
}